<!DOCTYPE html>
<html>
<head>
  <title>Jobs Board | Neil Patel 2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="border"></div>


  <div class="wrapper">
    <header class="main_header clearfix">
      <div class="logo">
        <%= image_tag("smile.svg") %>
        <h1>Awesome<span>Jobs</h1>
      </div>
      <nav class="nav">
        <a href="#">All Jobs</a>
        <a href="#">Full-Time</a>
        <a href="#">Part-Time</a>
        <a href="#">Freelance</a>
        <a href="#">Contract</a>
      </nav>
    </header>
  </div>
</div>

<%= yield %>

</body>
</html>
